/*
p {
    font-family: verdana;
    color:red;
    /*text-align:center;
}
*/

* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
nav {
    background: #ccc;
    padding: 20px;
}
section{
    float: right;
    padding: 20px;
    width: 40%;
    background-color: #f1f1f1;
    border-style: solid;
    border-width: 1px;
}
section.meio{
    width: 50%;
}
section.total{
    width: 80%;
}

article::after {
  content: "";
  display: table;
  clear: both;
}
aside{
    float: left;
    width: 20%;
    background: rgba(0,183,255,0.51);
    border-style: solid;
    border-width: 1px;
}
footer {
    background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
figure {
    float: left;
    background-color: ivory;
    color: darkslateblue;
    border: 4px solid darkslateblue;
    border-radius: 10px;
    text-align: center;
    padding: 25px;
    font-family: arial, sans-serif;
    box-shadow: 10px 10px 8px #888888;
}
figcaption {}

fieldset{
  font-family: bolder;
  font-size:15px;
  padding:10px;
  width:250px;
  line-height:1.8;
}

table{
    background: white;
}